/SystemSoftware/build/
/SystemSoftware/nbproject/private/
/SystemSoftware/dist/
/SystemSoftwareNew/JavaServer/nbproject/private/
/SystemSoftwareNewServer/JavaServer/nbproject/private/
/SystemSoftwareNewWeatherStation/WeatherStationClientServer/nbproject/private/