/SystemSoftware/build/
/SystemSoftware/nbproject/private/
/SystemSoftware/dist/
/SystemSoftwareNew/JavaServer/nbproject/private/
/SystemSoftwareNewServer/JavaServer/nbproject/private/
/SystemSoftwareNewWeatherStation/WeatherStationClientServer/nbproject/private/
/SystemSoftwareNewServer/JavaServer/build/
/SystemSoftwareNewWeatherStation/WeatherStationClientServer/build/
/SystemSoftwareNewWeatherStation/WeatherStation/nbproject/private/
/SystemSoftwareNewWeatherStation/WeatherStation/build/
/WeatherStation2/nbproject/private/
/WeatherStation3/nbproject/private/
/WeatherStation4/nbproject/private/
/WeatherStation5/nbproject/private/
/WeatherStation6/nbproject/private/
/WeatherStation7/nbproject/private/
/WeatherStation8/nbproject/private/
/WeatherStation2/build/
/WeatherStation3/build/
/WeatherStation/dist/